:root {
  --bg: #fdfdfd;
  --meta: #888;
  --accent: #3178cd;
  --text: black;
  --base: 1.5rem;
}

@media (max-width: 600px) {
  :root {
    --base: 1.2rem;
  }
}

* {
  box-sizing: border-box;
}

body,
html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: var(--base);
  -webkit-font-smoothing: antialiased;
  font-feature-settings: 'calt', 'liga', 'hist', 'onum', 'pnum';

  overflow-x: hidden;

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  color: var(--text);
  background-color: var(--bg);
}

#slide {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0 50px;
  margin: auto;

  text-align: center;

  -webkit-overflow-scrolling: touch;
}

#slide ul {
    text-align: left;
    margin-left: 32px;
}

a {
  color: var(--text);

  text-decoration-skip-ink: auto;
}

blockquote {
  font-size: 120%;
  font-weight: bold;
  width: 60vw;
  text-align: left;
}

@media (max-width: 1024px) {
  blockquote {
    width: 90vw;
    margin: 0 auto;
    font-size: 56px;
  }
}

blockquote div::before {
  content: '\201C';
}

blockquote div::after {
  content: '\201D';
}

cite {
  font-size: 80%;
  font-weight: normal;
  font-style: normal;

  display: block;

  margin-top: 2rem;
}

cite::before {
  content: '\2014\00a0';
}

pre {
  font-size: 70%;

  display: inline-block;
  overflow-x: scroll;

  margin: 2rem 0;

  text-align: left;

  color: var(--accent);
}

code {
  font-family: menlo, monospace;
  font-size: 90%;
}

a:hover {
  color: var(--accent);
}

h1 {
  margin-bottom: 0.5rem;
  font-size: clamp(2rem, 200%, 4rem);
}

h2 {
  font-size: 120%;

  margin-bottom: 0.5rem;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media (max-width: 900px) {
  p {
    width: 90vw;
  }

  p a {
    font-size: 70%;
  }

  ul {
    margin: 0;
    padding: 0;
  }
}

header {
  font-size: 50%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  user-select: none;
  background: #FFF;
}

header a,
time {
  text-decoration: none;

  color: var(--meta);
}

header a {
  background-color: white;
  color: #147573;
  padding: 10px;
  border-left: 4px solid #cf006c;
}

header a:hover {
  color: var(--meta);
}

/* header span {
  color: var(--text);
} */

header span {
  font-weight: bold;
}

.slide {
  animation: whiteToLightGray 5s infinite;
  background-color: #f7f7f7
}

div[class*="slide-"] h1,
div[class*="slide-"] h2  {
  background: #121FCF;
  background: -webkit-linear-gradient(to right, #121FCF 0%, #CF1512 100%);
  background: -moz-linear-gradient(to right, #121FCF 0%, #CF1512 100%);
  background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 1024px) {
  .slide-33 h3 {
    max-width: 60vw;
    margin: auto;
  }
}

@keyframes whiteToLightGray {
  0% {background-color: #f7f7f7;}
  50% {background-color: #f0fcff;}
  100%{background-color: #f7f7f7;}
}

.slide-41 ul li img {
  max-width: 6%;
  margin-right: 1rem;
}

.slide-41 ul li {
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.slide-41 ul li a {
  text-decoration: none;
}

.slide-41 ul {
  margin: 0;
  padding: 0;
}

em {
  font-style: normal;
  color: #157573;
}

.intro,
.content {
  margin: auto;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.content {
  text-align: left;
  align-items: flex-start;
}

.content blockquote {
  margin-left: 0;
}

.w-images {
  height: auto;
}

.flex-container {
  display: flex;
  width: 100%;
  min-height:680px;
}

.flex-item {
  width: 100%;
}

w-images .span {
  width: 100%;
}

.half {
  width: 50%;
}